@page
@model WebApp.Pages.Publishers.DeleteModel

@{
    ViewData["Title"] = $"Remove {Model.Publisher.PublisherName}";
}

<h3>Are you sure you want to remove the publisher <b>@Model.Publisher.PublisherName?</b></h3>
<p>Removing them will also remove all books associated with them.</p>

<div>
    <form method="post">
        <input type="hidden" asp-for="Publisher.PublisherId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a href="javascript:history.back()">Go Back</a>
    </form>
</div>