@page
@model WebApp.Pages.Publishers.DetailsModel

@{
    ViewData["Title"] = Model.Publisher.PublisherName;
}

<h1>@Model.Publisher.PublisherName</h1>
<hr/>
<div>
    <a asp-page="./Edit" asp-route-publisherId="@Model.Publisher.PublisherId">Edit Publisher</a> |
    <a asp-page="./Delete" asp-route-publisherId="@Model.Publisher.PublisherId">Remove Publisher</a> |
    <a asp-page="../Books/Create" asp-route-publisherId="@Model.Publisher.PublisherId">Add New Book</a>
</div>
<hr/>
<h3>Books</h3>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PublisherId"/>
            <div class="form-group">
                <label asp-for="Search" class="control-label"></label>
                <input asp-for="Search" class="form-control"/>
                <span asp-validation-for="@Model.Search" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Details" asp-route-publisherId="@Model.PublisherId">
                    Clear
                </a>
            </div>
        </form>
    </div>
</div>
<hr/>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].BookAuthors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].YearPublished)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>
                    <a asp-page="../Books/Details" asp-route-bookId="@book.BookId">
                        @Html.DisplayFor(model => book.Title)
                    </a>
                </td>
                <td>
                    @{
                        var bookAuthors = book.BookAuthors!.ToList();

                        if (bookAuthors.Count > 2)
                        {
                            <p>
                                <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[0].AuthorId">
                                    @Html.Raw(bookAuthors[0].Author!.FirstLastName),
                                </a>
                                <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[1].AuthorId">
                                    @Html.Raw(bookAuthors[1].Author!.FirstLastName)
                                </a>
                                and
                                <a asp-page="../Books/Details" asp-route-bookId="@book.BookId">
                                    @($"{bookAuthors.Count - 2} more.")
                                </a>
                            </p>
                        }
                        else if (bookAuthors.Count == 2)
                        {
                            <p>
                                <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[0].AuthorId">
                                    @Html.Raw(bookAuthors[0].Author!.FirstLastName),
                                </a>
                                <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[1].AuthorId">
                                    @Html.Raw(bookAuthors[1].Author!.FirstLastName)
                                </a>
                            </p>
                        }
                        else if (bookAuthors.Count == 1)
                        {
                            <p>
                                <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[0].AuthorId">
                                    @Html.Raw(bookAuthors[0].Author!.FirstLastName)
                                </a>
                            </p>
                        }
                    }
                </td>
                <td>
                    <a asp-page="../Categories/Details" asp-route-publisherId="@book.CategoryId">
                        @Html.DisplayFor(model => book.Category!.CategoryName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => book.YearPublished)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}