﻿@page
@model WebApp.Pages.Games.CreateNew

@{
    ViewData["Title"] = "Create New Game";
}

<h1>Create New Game</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameSettings.GameName" class="control-label"></label>
                <input asp-for="GameSettings.GameName" class="form-control"/>
                <span asp-validation-for="GameSettings.GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSettings.BoardAxisLength" class="control-label"></label>
                <select asp-for="GameSettings.BoardAxisLength" class="form-control" asp-items="@Model.BoardSizeSelectList"></select>
                <span asp-validation-for="GameSettings.BoardAxisLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Start Game" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}