﻿@page
@model WebApp.Pages.Games.DeleteGame

@{
    ViewData["Title"] = $"Delete {Model.SaveGame.SaveName}";
}

<h3>Are you sure you want to delete the save <b>@Model.SaveGame.SaveName</b>?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaveGame.GameScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaveGame.GameScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaveGame.GameMoves)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaveGame.GameMoves)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaveGame.SaveDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaveGame.SaveDateTime)
        </dd>
    </dl>
</div>

<div>
    <form method="post">
        <input type="hidden" asp-for="SaveGame.SaveGameId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a href="javascript:history.back()">Go Back</a>
    </form>
</div>