﻿@page
@model WebApp.Pages.Games.EditGame

@{
    ViewData["Title"] = $"Edit {Model.SaveGame.SaveName}";
}

<h2>Edit <b>@Model.SaveGame.SaveName</b></h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SaveGame.SaveGameId"/>
            <input type="hidden" asp-for="SaveGame.SaveDateTime"/>
            <input type="hidden" asp-for="SaveGame.GameMoves"/>
            <input type="hidden" asp-for="SaveGame.GameScore"/>
            <input type="hidden" asp-for="SaveGame.GameBoardAxisLength"/>
            <input type="hidden" asp-for="SaveGame.GameBoardStateJson"/>
            <div class="form-group">
                <label asp-for="SaveGame.SaveName" class="control-label"></label>
                <input asp-for="SaveGame.SaveName" class="form-control"/>
                <span asp-validation-for="SaveGame.SaveName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/> |
                <a asp-page="./SavesList">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}