﻿@page
@using GameLogic
@model WebApp.Pages.Games.PlayGame

@{
    ViewData["Title"] = Model.Game.Title;
}

<h2>@Model.Game.Title</h2>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Moves)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Moves)
        </dd>
    </dl>
</div>
<hr/>
<table>
    <tbody class="game-board">
    @{
        var gameOver = Model.Game.IsFinished();
        var boardSize = Model.Game.Gameboard.BoardAxisLength;

        foreach (var row in Model.Game.Gameboard.GameBoard)
        {
            <tr>
                @foreach (var button in row)
                {
                    if (button.Id == boardSize * boardSize && !gameOver)
                    {
                        <td></td>
                    }
                    else
                    {
                        if (gameOver)
                        {
                            <td style="align-content: center" class="game-board-tile">
                                <button class="btn game-board-button">@button.Id</button>
                            </td>
                        }
                        else
                        {
                            <td style="align-content: center" class="game-board-tile">
                                <form method="post" asp-route-gameId="@Model.saveId" asp-route-buttonId="@button.Id">
                                    <button class="btn game-board-button">@button.Id</button>
                                </form>
                            </td>
                        }
                    }
                }
            </tr>
        }

        if (gameOver)
        {
            <h1>Game Over!</h1>
        }
    }
    </tbody>
</table>