﻿@page
@model WebApp.Pages.Games.SavesList

@{
    ViewData["Title"] = "Saved Games";
}

<h1>Saved Games</h1>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameSaves[0].SaveName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameSaves[0].GameMoves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameSaves[0].GameScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameSaves[0].SaveDateTime)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var gameSave in Model.GameSaves)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => gameSave.SaveName)
            </td>
            <td>
                @Html.DisplayFor(model => gameSave.GameMoves)
            </td>
            <td>
                @Html.DisplayFor(model => gameSave.GameScore)
            </td>
            <td>
                @Html.DisplayFor(model => gameSave.SaveDateTime)
            </td>
            <td>
                <a asp-page="./PlayGame" asp-route-id="@gameSave.SaveGameId">
                    Continue Game
                </a>
                |
                <a asp-page="./EditGame" asp-route-id="@gameSave.SaveGameId">
                    Edit Game
                </a>
                |
                <a asp-page="./DeleteGame" asp-route-id="@gameSave.SaveGameId">
                    Delete Game
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>