@page
@model WebApp.Pages.Languages.DeleteModel

@{
    ViewData["Title"] = $"Delete {Model.Language.LanguageName}";
}

<h3>Are you sure you want to delete <b>@Model.Language.LanguageName</b> language?</h3>
<p>Deleting it will also remove all books filed under this language!</p>
<div>
    <form method="post">
        <input type="hidden" asp-for="Language.LanguageId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a href="javascript:history.back()">Go Back</a>
    </form>
</div>