@page
@model WebApp.Pages.Languages.EditModel

@{
    ViewData["Title"] = $"Edit {Model.Language.LanguageName}";
}

<h2>Edit <b>@Model.Language.LanguageName</b></h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Language.LanguageId"/>
            <div class="form-group">
                <label asp-for="Language.LanguageName" class="control-label"></label>
                <input asp-for="Language.LanguageName" class="form-control"/>
                <span asp-validation-for="Language.LanguageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.back()">Go Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}