@page
@model WebApp.Pages.Authors.CreateModel

@{
    ViewData["Title"] = "Add New Author";
}

<h1>Add New Author</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Author.FirstName" class="control-label"></label>
                <input asp-for="Author.FirstName" class="form-control"/>
                <span asp-validation-for="Author.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.LastName" class="control-label"></label>
                <input asp-for="Author.LastName" class="form-control"/>
                <span asp-validation-for="Author.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.back()">Go Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}