@page
@model WebApp.Pages.Authors.DeleteModel

@{
    ViewData["Title"] = "Remove Author";
}

<h3>Are you sure you want to remove <b>@Model.Author.FirstLastName?</b></h3>
<p>Removing them will also remove all associated data (incl. books)!</p>
<hr/>
<div>
    <form method="post">
        <input type="hidden" asp-for="Author.AuthorId"/>
        <input type="submit" value="Remove" class="btn btn-danger"/> |
        <a href="javascript:history.back()">Go Back</a>
    </form>
</div>