@page
@model WebApp.Pages.Authors.DetailsModel

@{
    ViewData["Title"] = Model.Author.FirstLastName;
}

<h1>@Model.Author.FirstLastName</h1>
<hr/>
<div>
    <a asp-page="./Edit" asp-route-authorId="@Model.Author.AuthorId">Edit Author</a> |
    <a asp-page="./Delete" asp-route-authorId="@Model.Author.AuthorId">Remove Author</a> |
    <a asp-page="../Books/Create" asp-route-authorId="@Model.Author.AuthorId">Create New Book</a> |
    <a asp-page="../AuthorBooks/AddBook" asp-route-authorId="@Model.Author.AuthorId">Add Existing Book</a>
</div>
<hr/>
<h3>Books</h3>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuthorId"/>
            <div class="form-group">
                <label asp-for="Search" class="control-label"></label>
                <input asp-for="Search" class="form-control"/>
                <span asp-validation-for="@Model.Search" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Details" asp-route-authorId="@Model.AuthorId">
                    Clear
                </a>
            </div>
        </form>
    </div>
</div>
<hr/>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].YearPublished)
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>
                    <a asp-page="../Books/Details" asp-route-bookId="@book.BookId">
                        @Html.DisplayFor(model => book.Title)
                    </a>
                </td>
                <td>
                    <a asp-page="../Categories/Details" asp-route-categoryId="@book.CategoryId">
                        @Html.DisplayFor(model => book.Category!.CategoryName)
                    </a>
                </td>
                <td>
                    <a asp-page="../Publishers/Details" asp-route-publisherId="@book.PublisherId">
                        @Html.DisplayFor(model => book.Publisher!.PublisherName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => book.YearPublished)
                </td>
                <td>
                    <a asp-page="../AuthorBooks/RemoveBook"
                       asp-route-authorId="@Model.Author.AuthorId"
                       asp-route-bookId="@book.BookId">
                        Remove
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}