@page
@model WebApp.Pages.Authors.EditModel

@{
    ViewData["Title"] = $"Edit {Model.Author.FirstLastName}";
}

<h2>Edit <b>@Model.Author.FirstLastName</b></h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Author.AuthorId"/>
            <div class="form-group">
                <label asp-for="Author.FirstName" class="control-label"></label>
                <input asp-for="Author.FirstName" class="form-control"/>
                <span asp-validation-for="Author.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.LastName" class="control-label"></label>
                <input asp-for="Author.LastName" class="form-control"/>
                <span asp-validation-for="Author.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/> |
                <a asp-page="./Details" asp-route-authorId="@Model.Author.AuthorId">Back to Author</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}