@page
@model WebApp.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Authors";
}

<h1>Authors</h1>

<p>
    <a asp-page="Create">Add New Author</a>
</p>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Search" class="control-label"></label>
                <input asp-for="Search" class="form-control"/>
                <span asp-validation-for="Search" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Index">
                    Clear
                </a>
            </div>
        </form>
    </div>
</div>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Authors[0].FirstLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authors[0].AuthorBooks)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Authors)
    {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-authorId="@item.AuthorId">
                    @Html.DisplayFor(modelItem => item.FirstLastName)
                </a>
            </td>
            <td>
                <a asp-page="../Books/Index" asp-route-authorId="@item.AuthorId">
                    @Html.DisplayFor(model => item.AuthorBooks!.Count)
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}