@page
@model WebApp.Pages_Expenses.CreateModel

@{
    ViewData["Title"] = "Add a New Expense";
}

<h1>Add a New Expense</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Expense.CarId" class="control-label"></label>
                <select asp-for="Expense.CarId" class="form-control" asp-items="@Model.CarSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Expense.ExpenseCategoryId" class="control-label"></label>
                <select asp-for="Expense.ExpenseCategoryId" class="form-control" asp-items="@Model.ExpenseCategorySelectList">
                    <option value="-1">
                        -- NEW CATEGORY --
                    </option>
                </select>
                <span asp-validation-for="NewExpenseCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewExpenseCategoryName" class="control-label"></label>
                <input asp-for="NewExpenseCategoryName" class="form-control"/>
                <span asp-validation-for="NewExpenseCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.ExpenseDescription" class="control-label"></label>
                <input asp-for="Expense.ExpenseDescription" class="form-control"/>
                <span asp-validation-for="Expense.ExpenseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.ExpenseSum" class="control-label"></label>
                <input asp-for="Expense.ExpenseSum" class="form-control"/>
                <span asp-validation-for="Expense.ExpenseSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.ExpenseDateTime" class="control-label"></label>
                <input asp-for="Expense.ExpenseDateTime" class="form-control"/>
                <span asp-validation-for="Expense.ExpenseDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}