@page
@model WebApp.Pages_Expenses.IndexModel

@{
    ViewData["Title"] = "Expenses";
}

<h1>Expenses</h1>

<p>
    <a asp-page="Create">Add New Expense</a>
</p>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Query" class="control-label"></label>
                <input asp-for="Query" class="form-control"/>
                <span asp-validation-for="Query" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Index">
                    Clear
                </a>
            </div>
        </form>
    </div>
</div>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].Car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseDateTime)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Expenses)
    {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ExpenseId">
                    @Html.DisplayFor(modelItem => item.ExpenseDescription)
                </a>
            </td>
            <td>
                <a asp-page="ExpenseCategories/Details" asp-route-id="@item.ExpenseCategoryId">
                    @Html.DisplayFor(modelItem => item.ExpenseCategory!.CategoryName)
                </a>
            </td>
            <td>
                <a asp-page="/Cars/Details" asp-route-id="@item.CarId">
                    @Html.DisplayFor(modelItem => item.Car!.MakerModelYear)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseSum) EUR
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDateTime)
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}