@page
@model WebApp.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = $"Delete {Model.Category.CategoryName}";
}

<h3>Are you sure you want to delete the category <b>@Model.Category.CategoryName</b>?</h3>
<p>Deleting it will also remove all books filed under this category!</p>
<div>
    <form method="post">
        <input type="hidden" asp-for="Category.CategoryId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>