@page
@model WebApp.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-page="Create">Add New Category</a>
</p>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Search" class="control-label"></label>
                <input asp-for="Search" class="form-control"/>
                <span asp-validation-for="Search" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Index">
                    Clear
                </a>
            </div>
        </form>
    </div>
</div>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories[0].CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories[0].Books)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-categoryId="@item.CategoryId">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </a>
            </td>
            <td>
                <a asp-page="./Details" asp-route-categoryId="@item.CategoryId">
                    @Html.DisplayFor(modelItem => item.Books!.Count)
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}