﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Query" class="control-label"></label>
                <input asp-for="Query" class="form-control"/>
                <span asp-validation-for="Query" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="CategoryId" asp-items="@Model.ExpenseCategorySelectList" class="form-control">
                    <option value="-1">Filter By Expense Category...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input asp-for="DateFrom" class="form-control"/>
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTo" class="control-label"></label>
                <input asp-for="DateTo" class="form-control"/>
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Index">
                    Clear
                </a>
            </div>
        </form>
    </div>
</div>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cars[0].MakerModelYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cars[0].Expenses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cars[0].TotalExpenseSum)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Cars)
    {
        <tr>
            <td>
                <a asp-page="./Cars/Details" asp-route-id="@item.CarId">
                    @Html.DisplayFor(modelItem => item.MakerModelYear)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expenses!.Count)
            </td>
            <td>
                @Html.DisplayFor(model => item.TotalExpenseSum) EUR
            </td>
        </tr>
    }
    <tr>
        <td><b>@Model.Cars.Count cars</b></td>
        <td><b>@Model.GetTotalExpenses() expenses</b></td>
        <td><b>@Model.GetTotalExpenseSum() EUR spent</b></td>
    </tr>
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}