﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="favicon.ico" alt="fifteenPuzzle icon" style="padding: 25px"/>
</div>

<div class="text-center">
    <button onclick="window.location.href='./Games/CreateNew'" type="button" class="btn btn-primary">Start New Game</button>
    <p>or</p>
    <button onclick="window.location.href='./Games/SavesList'" type="button" class="btn btn-secondary">Load Existing Game</button>
</div>