@page
@model WebApp.Pages_ExpenseCategories.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete the category <b>@Model.ExpenseCategory.CategoryName</b>?</h3>

<p>This will remove all associated data!</p>
<div>
    <form method="post">
        <input type="hidden" asp-for="ExpenseCategory.ExpenseCategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
