@page
@model WebApp.Pages_ExpenseCategories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.ExpenseCategory.CategoryName</h1>
<hr/>
<a asp-page="./Edit" asp-route-id="@Model.ExpenseCategory.ExpenseCategoryId">Edit</a> |
<a asp-page="./Delete" asp-route-id="@Model.ExpenseCategory.ExpenseCategoryId">Delete</a>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Query" class="control-label"></label>
                <input asp-for="Query" class="form-control"/>
                <span asp-validation-for="Query" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Details" asp-route-id="@Model.Id">
                    Clear
                </a>
            </div>
        </form>
    </div>
</div>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].Car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseDateTime)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ExpenseCategory!.Expenses!)
    {
        <tr>
            <td>
                <a asp-route-id="@item.CarId" asp-page="/Cars/Details">
                    @Html.DisplayFor(modelItem => item.Car!.MakerModelYear)
                </a>
            </td>
            <td>
                <a asp-route-id="@item.ExpenseId" asp-page="/Expenses/Details">
                    @Html.DisplayFor(modelItem => item.ExpenseDescription)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDateTime)
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}