@page
@model WebApp.Pages_ExpenseCategories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit <b>@Model.ExpenseCategory.CategoryName</b> Expense Category </h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ExpenseCategory.ExpenseCategoryId"/>
            <div class="form-group">
                <label asp-for="ExpenseCategory.CategoryName" class="control-label"></label>
                <input asp-for="ExpenseCategory.CategoryName" class="form-control"/>
                <span asp-validation-for="ExpenseCategory.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}