@page
@model WebApp.Pages_Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Car's Details</h2>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarMaker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarMaker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarMadeYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarMadeYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.TotalExpenseSum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.TotalExpenseSum) EUR
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car.CarId">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Car.CarId">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<hr/>
<h2>Car's Expenses</h2>
<hr/>
<a asp-page="/Expenses/Create" asp-route-carId="@Model.Car.CarId">Add New Expense</a>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Query" class="control-label"></label>
                <input asp-for="Query" class="form-control"/>
                <span asp-validation-for="Query" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Details" asp-route-id="@Model.Id">
                    Clear
                </a>
            </div>
        </form>
    </div>
</div>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].ExpenseDateTime)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Expenses)
    {
        <tr>
            <td>
                <a asp-page="/Expenses/Details" asp-route-id="@item.ExpenseId">
                    @Html.DisplayFor(modelItem => item.ExpenseDescription)
                </a>
            </td>
            <td>
                <a asp-page="/ExpenseCategories/Details" asp-route-id="@item.ExpenseCategoryId">
                    @Html.DisplayFor(modelItem => item.ExpenseCategory!.CategoryName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseSum) EUR
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDateTime)
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}