@page
@model WebApp.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Add New Book";
}

<h1>Add New Book</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control"/>
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedAuthorId" class="control-label"></label>
                <select asp-for="SelectedAuthorId" class="form-control" asp-items="@Model.AuthorSelectList"></select>
                <p style="font-size: 12px;font-style: italic">
                    Additional authors can be added after book has been created. If the author does not appear in list,
                    you need to create their profile first.
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Book.PageCount" class="control-label"></label>
                <input asp-for="Book.PageCount" class="form-control"/>
                <span asp-validation-for="Book.PageCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.YearPublished" class="control-label"></label>
                <input asp-for="Book.YearPublished" class="form-control"/>
                <span asp-validation-for="Book.YearPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.CategoryId" class="control-label"></label>
                <select asp-for="Book.CategoryId" class="form-control" asp-items="@Model.CategorySelectList"></select>
                <p style="font-size: 12px;font-style: italic">
                    If the category does not exist yet, you need to create it first under Categories tab.
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Book.LanguageId" class="control-label"></label>
                <select asp-for="Book.LanguageId" class="form-control" asp-items="@Model.LanguageSelectList"></select>
                <p style="font-size: 12px;font-style: italic">
                    If the language does not exist yet, you need to create it first under Languages tab.
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublisherId" class="control-label"></label>
                <select asp-for="Book.PublisherId" class="form-control" asp-items="@Model.PublisherSelectList"></select>
                <p style="font-size: 12px;font-style: italic">
                    If the publisher does not exist yet, you need to create it first under Publishers tab.
                </p>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.back()">Go Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}