@page
@using Domain
@model WebApp.Pages.Books.DeleteModel

@{
    ViewData["Title"] = $"Remove {Model.Book.Title}";
}

<h3>Are you sure you want to remove "@Model.Book.Title"?</h3>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookAuthors)
        </dt>
        <dd class="col-sm-10">
            @{
                var bookAuthors = Model.Book.BookAuthors.ToList();

                for (var i = 0; i < bookAuthors.Count; i++)
                {
                    if (i == bookAuthors.Count - 1)
                    {
                        <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[i].AuthorId">
                            @Html.Raw(bookAuthors[i].Author!.FirstLastName)
                        </a>
                    }
                    else
                    {
                        <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[i].AuthorId">
                            @Html.Raw(bookAuthors[i].Author!.FirstLastName),
                        </a>
                    }
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PageCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PageCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.YearPublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.YearPublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Language)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Languages/Details" asp-route-publisherId="@Model.Book.LanguageId">
                @Html.DisplayFor(model => model.Language.LanguageName)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Publisher)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Publishers/Details" asp-route-publisherId="@Model.Book.PublisherId">
                @Html.DisplayFor(model => model.Publisher.PublisherName)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Category)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Categories/Details" asp-route-publisherId="@Model.Book.CategoryId">
                @Html.DisplayFor(model => model.Category.CategoryName)
            </a>
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="@Model.Book.BookId"/>
        <input type="submit" value="Remove" class="btn btn-danger"/> |
        <a href="javascript:history.back()">Go Back</a>
    </form>
</div>