@page
@model WebApp.Pages.Books.DetailsModel

@{
    ViewData["Title"] = Model.Book.Title;
}

<h1>@Model.Book.Title</h1>
<hr/>
<div>
    <a asp-page="./Edit" asp-route-bookId="@Model.Book.BookId">Edit Book</a> |
    <a asp-page="./Delete" asp-route-bookId="@Model.Book.BookId">Remove Book</a> |
    <a asp-page="../AuthorBooks/AddAuthor" asp-route-bookId="@Model.Book.BookId">Add Author</a>
</div>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookAuthors)
        </dt>
        <dd class="col-sm-10">
            @{
                var bookAuthors = Model.Book.BookAuthors.ToList();

                for (var i = 0; i < bookAuthors.Count; i++)
                {
                    if (i == bookAuthors.Count - 1)
                    {
                        <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[i].AuthorId">
                            @Html.Raw(bookAuthors[i].Author!.FirstLastName)
                        </a>
                    }
                    else
                    {
                        <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[i].AuthorId">
                            @Html.Raw(bookAuthors[i].Author!.FirstLastName),
                        </a>
                    }
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PageCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PageCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.YearPublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.YearPublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Language)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Languages/Details" asp-route-languageId="@Model.Book.LanguageId">
                @Html.DisplayFor(model => model.Language.LanguageName)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Publisher)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Publishers/Details" asp-route-publisherId="@Model.Book.PublisherId">
                @Html.DisplayFor(model => model.Publisher.PublisherName)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Category)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Categories/Details" asp-route-categoryId="@Model.Book.CategoryId">
                @Html.DisplayFor(model => model.Category.CategoryName)
            </a>
        </dd>
    </dl>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.BookId"/>
            <div class="form-group">
                <label asp-for="Comment.CommentText" class="control-label"></label>
                <input asp-for="Comment.CommentText" class="form-control"/>
                <span asp-validation-for="Comment.CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<hr/>
<div>
    @foreach (var comment in Model.Book.Comments.Reverse())
    {
        <div class="card border-dark mb-3" style="max-width: 25rem;">
            <div class="card-body text-dark">
                <p class="card-text">
                    @Html.DisplayFor(model => comment.CommentText)
                </p>
            </div>
            <div class="card-footer">
                <a asp-page="./RemoveComment" asp-route-commentId="@comment.CommentId">
                    <button style="float: right" class="btn btn-outline-danger">
                        Remove
                    </button>
                </a>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}