@page
@model WebApp.Pages.Books.EditModel

@{
    ViewData["Title"] = $"Edit {Model.Book.Title}";
}

<h2>Edit <b>@Model.Book.Title</b></h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.BookId"/>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control"/>
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedAuthorId" class="control-label"></label>
                <select asp-for="SelectedAuthorId" class="form-control" asp-items="@Model.AuthorSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.PageCount" class="control-label"></label>
                <input asp-for="Book.PageCount" class="form-control"/>
                <span asp-validation-for="Book.PageCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.YearPublished" class="control-label"></label>
                <input asp-for="Book.YearPublished" class="form-control"/>
                <span asp-validation-for="Book.YearPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.CategoryId" class="control-label"></label>
                <select asp-for="Book.CategoryId" class="form-control" asp-items="@Model.CategorySelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.LanguageId" class="control-label"></label>
                <select asp-for="Book.LanguageId" class="form-control" asp-items="@Model.LanguageSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublisherId" class="control-label"></label>
                <select asp-for="Book.PublisherId" class="form-control" asp-items="@Model.PublisherSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}