@page
@model WebApp.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>
<p>
    <a asp-page="Create">Add New Book</a>
</p>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Search" class="control-label"></label>
                <input asp-for="Search" class="form-control"/>
                <span asp-validation-for="Search" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Index">
                    Clear
                </a>
            </div>
        </form>
    </div>
</div>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].BookAuthors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].YearPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Comments)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-bookId="@item.BookId">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @{
                    var bookAuthors = item.BookAuthors.ToList();

                    if (bookAuthors.Count > 2)
                    {
                        <p>
                            <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[0].AuthorId">
                                @Html.Raw(bookAuthors[0].Author!.FirstLastName),
                            </a>
                            <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[1].AuthorId">
                                @Html.Raw(bookAuthors[1].Author!.FirstLastName)
                            </a>
                            and
                            <a asp-page="./Details" asp-route-bookId="@item.BookId">
                                @($"{bookAuthors.Count - 2} more.")
                            </a>
                        </p>
                    }
                    else if (bookAuthors.Count == 2)
                    {
                        <p>
                            <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[0].AuthorId">
                                @Html.Raw(bookAuthors[0].Author!.FirstLastName),
                            </a>
                            <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[1].AuthorId">
                                @Html.Raw(bookAuthors[1].Author!.FirstLastName)
                            </a>
                        </p>
                    }
                    else if (bookAuthors.Count == 1)
                    {
                        <p>
                            <a asp-page="../Authors/Details" asp-route-authorId="@bookAuthors[0].AuthorId">
                                @Html.Raw(bookAuthors[0].Author!.FirstLastName)
                            </a>
                        </p>
                    }
                }
            </td>
            <td>
                <a asp-page="../Categories/Details" asp-route-categoryId="@item.CategoryId">
                    @Html.DisplayFor(modelItem => item.Category!.CategoryName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(model => item.YearPublished)
            </td>
            <td>
                <a asp-page="./Details" asp-route-bookId="@item.BookId">
                    @Html.Raw(item.Comments!.Count)
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}