@page
@model WebApp.Pages.Books.RemoveCommentModel

@{
    ViewData["Title"] = "Remove Comment";
}

<h3>Are you sure you want to remove this comment?</h3>
<hr/>
<div>
    <div class="card border-dark mb-3" style="max-width: 25rem;">
        <div class="card-header">
            <h5>@Html.DisplayFor(model => model.Book.Title)</h5>
        </div>
        <div class="card-body text-dark">
            <p class="card-text">
                @Html.DisplayFor(model => model.Comment.CommentText)
            </p>
        </div>
    </div>
    <form method="post">
        <input type="hidden" asp-for="Comment.CommentId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Details" asp-route-bookId="@Model.Comment.BookId">Back to Book</a>
    </form>
</div>