@page
@model WebApp.Pages.AuthorBooks.AddAuthorModel

@{
    ViewData["Title"] = "Add Author";
}

<h3>Add Author For <b>@Model.Book.Title</b></h3>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="AuthorBook.BookId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthorBook.AuthorId" class="control-label"></label>
                <select asp-for="AuthorBook.AuthorId" class="form-control" asp-items="Model.AuthorsSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.back()">Go Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}