@page
@model WebApp.Pages.AuthorBooks.AddBookModel

@{
    ViewData["Title"] = "Add Book";
}

<h3>Add Book For <b>@Model.Author.FirstLastName</b></h3>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="AuthorBook.AuthorId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthorBook.BookId" class="control-label"></label>
                <select asp-for="AuthorBook.BookId" class="form-control" asp-items="Model.BooksSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.back()">Go Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}