@page
@model WebApp.Pages.AuthorBooks.RemoveBookModel

@{
    ViewData["Title"] = "Remove Book";
}

<h3>
    This will remove "<b>@Model.Book.Title</b>" from
    <b>@Model.Author.FirstLastName</b>'s list of authored books.
</h3>
<p>Are you sure you want to do this?</p>
<hr/>
<div>
    <form method="post">
        <input type="hidden" asp-for="AuthorBook.AuthorId"/>
        <input type="hidden" asp-for="AuthorBook.BookId"/>
        <input type="submit" value="Remove" class="btn btn-danger"/>
    </form>
    <div>
        <a href="javascript:history.back()">Go Back</a>
    </div>
</div>